/* 2017 Jack Willis - CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0/> */

body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 32em;
  min-width: 12em;
}

body > header {
  margin: 1em 0;
}

@media (min-width: 40em) {
  body {
    width: 40em;
  }

  /* The main page is wider than the rest. */
  body.frontispice {
    width: 100%;
    max-width: 48em;
  }

  body.frontispice > header {
    margin: 4em 0 1em 0;
  }
}

/* lol using named colors
*/
body { background: floralwhite; }
h1, h1 a, h1 a:link, h1 a link:visited { color: firebrick !important; }
h2, h3 { color: darkslateblue; }
a:link { color: saddlebrown; }
a:visited { color: black; }

p { hyphens: auto; }
p + p { text-indent: 1em; }
.noindent { text-indent: 0; }

.frontispice h1 { font-size: 200%; }
h1 { font-size: 150%; }

body > header h1, body > header nav { display: inline-block; }
body > header nav { font-size: 125%; font-weight: bold; font-variant: all-small-caps; }
body > header nav ul { padding: 0; }
body > header nav ul li { margin: 0; display: inline-block; }

body > header nav ul li:before { content: "|"; padding: 0 0.5em; }

article.post header { margin-bottom: 1em; }
article.post header > * { margin: 0.25em 0; }
nav.writing, article.post { margin: 1em 0; }
p#license, section.comments { margin-top: 2em; }

article.post figure { text-align: center; padding: 1em; margin: 1em; }
article.post figure.highlight { text-align: left; padding: 0.25em 1em; }
article.post figure img { max-width: 100%; }

pre {
  line-height: 16pt;
  overflow-x: auto;
}

code {
  font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
  word-break: break-all;
}

.writing { margin-top: 5em; }
.writing ul { list-style: none; margin: 0; padding: 0; }
.writing li { margin: 1em 0; }
.writing li .title { font-weight: bold; }

blockquote { 
  margin: 2em 0.5em;
  border-left: 2px solid #186218;
  padding: 0 1em;
}

.irony {
  font-family: "Times New Roman", serif;
  letter-spacing: 0.03125em;
  font-size: 115%;
  font-style: italic;
  padding: 0.5px 0.0625em;
}

.irony span {
  display: inline-block;
  transform: scale(1) rotate(-7deg) translate(0, 0) skew(7deg, 0);
}

.katex { font-size: 1.08em !important; }

/* Front page */

aside.jack figure {
  margin: 0 auto 2em auto;
  max-width: 300px;
}

aside.jack figure img {
  width: 100%;
}

figcaption {
  font-size: 75%;
  line-height: 1.2em;
}

@media (min-width: 40em) {
  aside.jack figure {
    position: relative;
    top: -4.5em;

    margin: 0 0 -2.5em 4em;
    float: right;

    max-width: 22em;
    min-width: 16em;
  }
}

body > footer { margin-top: 2em; color: #555; }

/* Post-specific */

/* Calculator Art */
figure.calcart img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}